.header {
  display: flex;
  background-color: aqua;
}

.body {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.navigation {
  margin-right: 20px;
  background: rgb(128, 128, 128);
}

.authorization-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 20px 10px auto;
}
