.header {
  display: flex;
  align-items: center;
  background-color: aqua;
}

.logo {
  font-size: 60px;
  margin-left: 20px;
  user-select: none;
  cursor: pointer;
}

.body {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.navigation {
  margin-right: 20px;
  width: 200px;
}

.authorization-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 20px 10px auto;
}
