<tui-root>
  <div class="header">
    <h1 class="logo" routerLink="/" routerLinkActive="active">Finan<span style="color: red">See</span></h1>

    <div class="authorization-form">
      <authorization-form></authorization-form>
    </div>
  </div>

  <div class="body">
    <navigation
      [elements]="navigationElements"
      class="navigation"></navigation>

    <router-outlet></router-outlet>
  </div>

  <div style="display: flex; justify-content: center">
    <div style="bottom: 0; position: fixed; align-self: center">
      <p>kawwik ©</p>
    </div>
  </div>
</tui-root>
